#main #area h3 {
    text-align: center;
}
#area h4 {
    margin: 5px 0;
}
#main #area .item{
    margin: 12px auto 30px;
	border-bottom: 1px dashed #ddd;
}
#main #area .item .item_content {
    margin: 0px auto;
	width: 94%;
}
#main #area .item .item_content p {
    margin: 5px auto;
}
#main #area .item2{
    margin: 10px auto 10px;
	width: 90%;
	border-bottom: 1px dashed #ddd;
	line-height: 1.3;
}
#area .item2 table{
    margin: 8px auto;
	font-size: 14px;
    width: 96%;
}
#area .item2 table tr{
    height: 36px;
}
#area .item2 table tr td{
    border-bottom: 1px dotted #ddd;
}
#area .item2 table tr td a{
	color: #000;
}
#area .item table tr td a:hover{
    text-decoration: underline;
}